.footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 20px 20vw;
    background-color: #000;
}

p, a{
    background-color: transparent;
}

.footer a{
    margin-left: 15px;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .footer{
        flex-direction: column;
    }

    .footer div{
        margin-top: 10px;
    }
}
